
body{
    
    background-color: white;
    
}


seg1{
    color: white;
}
seg2{
    color: white;
}
seg3{
    color: white;
}
seg4{
    color: white;
}
seg5{
    color: white;
}